@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-bg: #1f2641;
    /* --color-bg1: #2e3267; */
    --color-bg1: #644b6b;
    /* --color-bg2: #424890; */
    --color-bg2: #c2b5be;
    --bg-color: #1e1c2a;
    

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

.body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: #fff;
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

.section{
    padding: 6rem 0;
}

.btn{
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
}

.categories{
    background: var(--color-bg1);
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__left{
    margin-top: 15%;
}

.categories__right{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
    margin-bottom: 5%;
}

.category{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    color: #fff;
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.category__icon{
    background: var(--color-bg);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    font-size: 1rem;
    margin: 2rem 0 1rem;
}

.category p{
    font-size: 0.85rem;
}

.home{
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    /* background-color: #1e1c2a; */
    background-image: url('library.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    opacity: 0.5;
    position: relative;
}


.home-img{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1{
    font-size: 5rem;
    color: #fff;
    margin: 5.5rem;
}

.home-text h2{
    font-size: 2.25rem;
    /* margin: 1rem 0 1rem; */
}

.btn1{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 245, 245);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.btn1:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.desc{
    /* margin-top: 12.8em; */
    background: #c8d4c0;
}

.desc-container{
    
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem; */
}

.desc-img{
    margin-top: 5%;
    width: 100%;
    /* min-width: 37em; */
    width: 35em;
    border-radius: 2rem;
}

.desc-text-container{
    width: 30em;
}

.desc-title{
    margin-top: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    color: #586259;
}

.desc-text{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #7d7987;
    margin-top: 0.8rem;
}

@media screen and (max-width: 655px) {

    .desc{
        display: flex;
        flex-direction: column;
    }
    .desc-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .desc-text-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    .desc-title{
        font-size: 200%;
    }

    .desc-text{
        font-size: 100%;
        align-items: center;
    }

    .desc-img{
        width: 90%;
    }

    
}


@media screen and (min-width: 655px) and (max-width: 1000px) {
    .desc{
        display: flex;
        flex-direction: column;
    }
    .desc-container{
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        text-align: center;
    }
    
    .desc-text-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        text-align: center;
    }

    .desc-title{
        font-size: 200%;
    }
    .desc-text{
        align-items: center;
        font-size: 100%;
    }

    .desc-img{
        width: 50%;
    }
}



.footer-section{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: #1e1c2a ;
}

.footer{
    /* width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgb(32, 30, 30); */

    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: grid;
    /* justify-items: center; */
  grid-template-columns: 30fr 30fr 30fr;
  grid-gap: 10px;
  background-color: #1e1c2a ;
  padding: 10px;
}





.footer p{
    transition: all .2s linear;
    margin-bottom: .6rem;
}


.footer p:hover{
    transition: all .2s linear;
    transform: translateX(4px);
}



.footer-item{
    /* margin: 1rem; */

  align-items: center;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
}

.footer-item  ul{
    width: 55%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.social{
    /* font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

