*
{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-12/1639741378_262-catherineasquithgallery-com-p-gradientnii-rozovii-fon-360.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover { text-decoration: none }
.feature-card{
	background-image: url(https://avatars.mds.yandex.net/i?id=eda580f89f372e6137bbcb914f7f04a9c239298d-6918470-images-thumbs&n=13);
}
.feature-card2{
    background-image: url(https://avatars.mds.yandex.net/i?id=d4885e2677be463bc9d98af0cc7f3b76-4613694-images-thumbs&n=13);
}
.feature-card3{
    background-image: url(https://avatars.mds.yandex.net/i?id=8c0c7224c257a1775f48cf73ae288b88d3d6135c-5232506-images-thumbs&n=13);
}
.feature-card4{
    background-image: url(https://avatars.mds.yandex.net/i?id=66b7cb4678c0adb2ce20d883755a9509485af30c-4761754-images-thumbs&n=13);
}
.feature-card5{
    background-image: url(https://avatars.mds.yandex.net/i?id=7e5c0044f52ed4507d98b47e4c8de4334678a070-7574298-images-thumbs&n=13);
}
.feature-card6{
    background-image: url(https://avatars.mds.yandex.net/i?id=b144c5bb68127e5de9cc07b9aa938cc0a0bcfbee-7669654-images-thumbs&n=13);
}.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.feature-card {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card:hover .feature-card-deatails {
    bottom: 0;
}

.feature-card2 {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card2-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card2-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card2-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card2:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card2-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card2-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card2-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card2:hover .feature-card-deatails {
    bottom: 0;
}
.feature-card3 {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card3-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card3-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card3-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card3:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card3-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card3-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card3-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card3:hover .feature-card-deatails {
    bottom: 0;
}
.feature-card4 {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card4-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card4-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card4-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card4:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card4-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card4-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card4-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card4:hover .feature-card-deatails {
    bottom: 0;
}
.feature-card5 {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card5-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card5-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card5-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card5:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card5-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card5-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card5-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card5:hover .feature-card-deatails {
    bottom: 0;
}
.feature-card6 {
    width: 380px;
    height: 250px;
    margin: 50px auto;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
}
.feature-card6-deatails {
    position: absolute;
    bottom: -228px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #888;
}

.feature-card6-tilte {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    padding: 20px;
    background: #fff;
}

.feature-card6-tilte h3 {
    font-size: 22px;
    font-weight: 700;
    color: #373737;
}

.feature-card6:hover .feature-card-tilte {
    bottom: -67px;
}

.feature-card6-deatails i {
    font-size: 35px;
    color: #1d365c;
}

.feature-card6-deatails h4 {
    font-size: 20px;
    color: #1d365c;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-card6-deatails a {
    display: inline-block;
    margin-top: 15px;
    color: #1d365c;
    text-decoration: none;
    font-weight: 700;
}

.feature-card6:hover .feature-card-deatails {
    bottom: 0;
}

.container-nav{
    width: 80%;
    margin: 0 auto;
}
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button {
    display: none;
}
.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav__menu a:hover {
    color: var(---color-bg2);
}
