*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teachers > h1{
    font-family: "Poppins",sans-serif;
    color: #0f031bdb;
    align-items: flex-start;
    font-size: 3.5rem;
}

.teachers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(93, 65, 145);
}


.section{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 10%;
    width:850px;
    height:400px;
    background-color: #0f031bdb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}
.details{
    width:250px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.details h1{
    font-size: 2rem;
    color: #8f00c8;
}
.details p{
    text-align: justify;
    color: #fff;
    font-size: .8rem;
}
.details a{
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    background-color: #8f00c8;
}
.img{
    width:400px;
    height:450px;
    margin-bottom: 3rem;
}
.btns div{
    color: #8f00c8;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
}

/*-------------------------------------------*/
.animate{
    animation:effect .4s ease;
}
@keyframes effect{
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }   
}


.wrapper{
    box-sizing: content-box;
    border-radius: 17px;
    display: flex;
    font-family: "Poppins",sans-serif;
    font-size: 2.5rem;
    font-weight: 650;
}

.words{
    overflow: hidden;
    height: 50px;
    color: #c500c8;
}

span{
    display: flex;
    height: 100%;
    padding-left: 7px;
    animation: spin 6s infinite;
}

@keyframes spin {
    10%{transform: translateY(-112%);}
    25%{transform: translateY(-100%);}
    35%{transform: translateY(-212%);}
    50%{transform: translateY(-200%);}
    60%{transform: translateY(-312%);}
    75%{transform: translateY(-300%);}
    85%{transform: translateY(-412%);}
    10%{transform: translateY(-112%);}
}